<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <main>
      <h2>Add a book</h2>
      <form action="/book/create" method="POST">
        <label>Title</label>
        <input type="text" name="title" required />
        <label>Author</label>
        <input type="text" name="author" required />
        <label>Genre</label>
        <input type="text" name="genre" required />
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
