<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <main>
      <h2>Edit a book</h2>
      <form action="/book/edit/<%= book._id%>?_method=PUT" method="POST">
        <label>Title</label>
        <input type="text" name="title" value="<%=book.title%>" required />
        <label>Author</label>
        <input type="text" name="author" value="<%=book.author%>" required />
        <label>Genre</label>
        <input type="text" name="genre" value="<%=book.genre%>" required />
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
