<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
    <style>
      main {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #hero {
        max-width: 80%;
      }
    </style>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <main>
      <div id="hero">
        <h1>Library for All</h1>
        <form method="POST" action="/book/search">
          <input
            type="text"
            class="form-input"
            name="book"
            placeholder="Search a book"
          />
          <button type="submit" class="btn btn-error">Submit</button>
          <a href="/book/view" class="btn">View All Books</a>
        </form>
      </div>
    </main>
  </body>
</html>
