<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <main>
      <h2>View book</h2>
      <div>
        <h2><%= book.title %></h2>
        <span>Author: <%= book.author %></span>
        <span>Genre: <%= book.genre %> </span>
      </div>
    </main>
  </body>
</html>
